@import "./layout.css";

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #aa6a69;
  display: block;
  margin: -1rem 0 2rem;
}

/* Application */

body {
  color: #111;
}

#saved-url-copy.copied {
  background-color: #00d969;
}

a {
  color: #656D4A;
}

a:focus,
a:hover {
  color: #959c81;
}

input[type=submit],
button {
  background-color: #656D4A;
  border-color: #4c5042;
}

.hero {
  background: #fcf8e3;

  border-radius: 8px;
  box-shadow: inset 3px 3px 0px 0px #888;
}

.shortie-form .save-error.card {
  background-color: #f2dede;
}

.shortie-item {
  background-color: #fcf8e3;
}

.business-card {
  color: #111111;
  background-color: #e9ecce;
}

.business-card a {
  color: #414833;
}

.business-card a:focus,
.business-card a:hover {
  color: #000000;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #d6d6bf;
    background-color: #666666;
  }

  .alert-info {
    color: #0b4f6e;
    background-color: #83afc5;
    border-color: #bce8f1;
  }

  .alert-warning {
    color: #695705;
    background-color: #c4bd9a;
    border-color: #faebcc;
  }

  .alert-danger {
    color: #4d2929;
    background-color: #aa8787;
    border-color: #ebccd1;
  }

  .shortie-form .save-error.card {
    background-color: #574242;
  }

  #saved-url-copy.copied {
    background-color: #58703c;
  }  

  body .shortie-item,
  body .hero {
    background-color: #6B705C;
  }

  body a,
  body button {
    color: #FFE8D6;
  }

  body a:focus,
  body a:hover {
    color: #ffffff;
  }

  input[type=text] {
    color: #dfdfc7;
    border-color: #999999;
    background-color: rgba(255, 255, 255, 0.041);
  }

  input[type=text]:hover,
  input[type=text]:focus {
    border-color: #ffffff;
  }

  input[type=submit],
  button {
    background-color: #6B705C;
    color: #B7B7A4;
  }

  body .business-card {
    color: #C2C5AA;
    background-color: #3e4636;
  }

  body .business-card a {
    color: #e9d3c3;
  }

  body .business-card a:hover,
  body .business-card a:focus {
    color: #ffffff;
  }

}